# Context
This notebook drives the training process for different models.

In [1]:
# Set project's environment variables
import os
import sys
from dotenv import load_dotenv
load_dotenv(dotenv_path="../project.env")
sys.path.append(os.environ["PYTHONPATH"])

import pickle

In [2]:
# Import project-wide and PH2 specific variables and functions
import superheader as sup

Chosen class grouping: ten-classes


Directory /Users/diego/Desktop/iteso/TOG/ exists. Continuing with execution
Directory /Users/diego/Desktop/iteso/TOG/data exists. Continuing with execution
Directory /Users/diego/Desktop/iteso/TOG/src exists. Continuing with execution
Directory /Users/diego/Desktop/iteso/TOG/bin exists. Continuing with execution
Directory /Users/diego/Desktop/iteso/TOG/media exists. Continuing with execution
Directory /Users/diego/Desktop/iteso/TOG/scores exists. Continuing with execution

In [3]:
TRAIN_classes = 'ten-classes'

# Score analysis

## Helper functions

In [ ]:
def visualize(df, groubycol)

## Data

In [4]:
import pandas as pd
score_file = os.path.join(sup.TRAIN_SCORES_ROOT, TRAIN_classes, sup.TRAIN_KNN_CODE, "2025-06-08_11:36:35.csv")

In [13]:
knn_scores_df = pd.read_csv(score_file)
knn_scores_df = knn_scores_df.fillna('None')
knn_scores_df.sort_values(by="accuracy", ascending=False)

       class_list  accuracy data_unit    PH2    PH3 reducer kernel  n   k
2608  ten-classes  0.993978      AHpf  False   True    umap   None  7   5
2639  ten-classes  0.993778      AHpf  False  False    None   None -1   5
904   ten-classes  0.993376      AHpf   True   True    umap   None  5   6
531   ten-classes  0.993376      AHpf   True   True    umap   None  3   5
533   ten-classes  0.993376      AHpf   True   True    umap   None  3   7
...           ...       ...       ...    ...    ...     ...    ... ..  ..
7592  ten-classes  0.099526       Spv  False   True    umap   None  5  29
7401  ten-classes  0.094787       Spv  False   True    umap   None  4  24
7780  ten-classes  0.094787       Spv  False   True    umap   None  6  31
7405  ten-classes  0.094787       Spv  False   True    umap   None  4  28
7594  ten-classes  0.094787       Spv  False   True    umap   None  5  31

[7998 rows x 9 columns]

### Ahpf

In [14]:
knn_ahpf_df = knn_scores_df[knn_scores_df['data_unit'] == sup.DATA_AH_PF]
knn_ahpf_df.sort_values(by="accuracy", ascending=False)

       class_list  accuracy data_unit    PH2    PH3 reducer kernel  n  k
2608  ten-classes  0.993978      AHpf  False   True    umap   None  7  5
2639  ten-classes  0.993778      AHpf  False  False    None   None -1  5
1310  ten-classes  0.993376      AHpf   True  False    None   None -1  9
906   ten-classes  0.993376      AHpf   True   True    umap   None  5  8
904   ten-classes  0.993376      AHpf   True   True    umap   None  5  6
...           ...       ...       ...    ...    ...     ...    ... .. ..
1490  ten-classes  0.811120      AHpf  False   True    umap   None  1  3
1491  ten-classes  0.808912      AHpf  False   True    umap   None  1  4
155   ten-classes  0.797672      AHpf   True   True    umap   None  1  1
1489  ten-classes  0.788037      AHpf  False   True    umap   None  1  2
1488  ten-classes  0.774187      AHpf  False   True    umap   None  1  1

[2666 rows x 9 columns]

### Spf

In [15]:
knn_spf_df = knn_scores_df[knn_scores_df['data_unit'] == sup.DATA_S_PF]
knn_spf_df.sort_values(by="accuracy", ascending=False)

       class_list  accuracy data_unit    PH2    PH3 reducer kernel  n  k
5301  ten-classes  0.956401       Spf  False  False    None   None -1  1
5302  ten-classes  0.946096       Spf  False  False    None   None -1  2
5303  ten-classes  0.942132       Spf  False  False    None   None -1  3
5304  ten-classes  0.933016       Spf  False  False    None   None -1  4
5305  ten-classes  0.925486       Spf  False  False    None   None -1  5
...           ...       ...       ...    ...    ...     ...    ... .. ..
4061  ten-classes  0.126040       Spf  False   True    kpca    rbf  1  1
4063  ten-classes  0.124455       Spf  False   True    kpca    rbf  1  3
4032  ten-classes  0.122473       Spf  False   True    kpca   poly  1  3
4062  ten-classes  0.121681       Spf  False   True    kpca    rbf  1  2
4064  ten-classes  0.120888       Spf  False   True    kpca    rbf  1  4

[2666 rows x 9 columns]

### Spv

In [16]:
knn_spv_df = knn_scores_df[knn_scores_df['data_unit'] == sup.DATA_S_PV]
knn_spv_df.sort_values(by="accuracy", ascending=False)

       class_list  accuracy data_unit    PH2    PH3 reducer kernel  n   k
7967  ten-classes  0.691943       Spv  False  False    None   None -1   1
7968  ten-classes  0.630332       Spv  False  False    None   None -1   2
7378  ten-classes  0.625592       Spv  False   True    umap   None  4   1
7564  ten-classes  0.620853       Spv  False   True    umap   None  5   1
7969  ten-classes  0.616114       Spv  False  False    None   None -1   3
...           ...       ...       ...    ...    ...     ...    ... ..  ..
7402  ten-classes  0.099526       Spv  False   True    umap   None  4  25
7780  ten-classes  0.094787       Spv  False   True    umap   None  6  31
7405  ten-classes  0.094787       Spv  False   True    umap   None  4  28
7594  ten-classes  0.094787       Spv  False   True    umap   None  5  31
7401  ten-classes  0.094787       Spv  False   True    umap   None  4  24

[2666 rows x 9 columns]